<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.UserMapper">
    <select id="userInfo" resultType="com.example.server.domain.User" parameterType="java.lang.String">
        SELECT USER_CD,
               PASS_DECRYPT(USER_CD,USER_PASS) AS USER_PASS,
               USER_NAME,
               EMAIL,
               USE_YN
          FROM TBL_USER
         WHERE USER_CD = #{userCd}
    </select>
</mapper>   